.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  margin-top: 15px;
  margin-bottom: 10px;


}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


.btn {
  align-self: center;
  padding-top: 15px;

}


@media only screen and (max-width: 560px) {

  .wrapper { 
    flex-direction: column;
  }
}  
